<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" data-bs-theme="auto">
<head>
<th:block th:insert="~{template/client/fragments/block :: config}"></th:block>
<meta name="theme-color" content="#712cf9">
<link href="/css/cover.css" rel="stylesheet">
<link rel="canonical" href="https://getbootstrap.kr/docs/5.3/examples/cover/">
</head>
<body class="d-flex h-100 text-center text-bg-dark">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<!-- <header class="mb-auto">
				<div>
					<h3 class="float-md-start mb-0">Cover</h3>
					<nav class="nav nav-masthead justify-content-center float-md-end">
					<a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
					<a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
					<a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
					</nav>
				</div>
			</header> -->
		<header class="mb-auto">
			<!-- Fixed navbar -->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<!-- header 추가 내용 -->
				<th:block th:insert="~{template/client/fragments/block :: header}"></th:block>
			</nav>
		</header>
		<main class="px-3">
			<h1>순례</h1>
			<p class="lead">
				감히 이룰 수 없는 꿈을꾸고, <br /> 감히 이루어질 수 없는 사랑을 하고, <br /> 감히 견딜 수 없는 고통을 견디며, <br /> 감히 용감한 자도 가지 못한 곳을 가며, <br /> 감히 닿지 못할 저 밤하늘의 별에 이른다는 것<br /> <br /> 이것이 나의 순례이며 <br /> 저 별을 따라가는 것이 나의 길이라오 <br /> 아무리 희망이 없을 지라도, <br /> 또한 아무리 멀리 있을 지라도...... <br />
			</p>
			<p class="lead">- Miguel de Cervantes Saavedra -</p>
			<p class="lead">
				<a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
			</p>
		</main>

		<footer class="mt-auto text-white-50">
			<p>
				Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.
			</p>
		</footer>
	</div>

	<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/common.js"></script>
</body>
</html>