<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/client/layout/layout}">

	<th:block layout:fragment="content">
		<div class="text-center"><h3>게시판 리스트</h3></div>
		
		<div class="container">
			<div>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="col-md-2">번호</th>
							<th class="col-md-5">제목</th>
							<th class="col-md-2">작성자</th>
							<th class="col-md-3">등록일</th>
						</tr>
					</thead>
					<tbody>
					<!-- Strings 객체의 유틸리티 메서드는 #strings다. ex) ${#strings.method(string)} -->
						<th:block th:if="${#strings.isEmpty(boardList)}">
							<tr>
								<td colspan="4" class="text-center">등록된 게시물이 존재하지 않습니다.</td>
							</tr>
						</th:block>	
						<th:block th:unless="${#strings.isEmpty(boardList)}">
							<tr class="text-center" th:each="board : ${boardList}" th:object="${board}">
								<td th:text="*{boardNumber}"></td>
								<td class="goDetail" th:text="*{boardTitle}"></td>
								<td th:text="*{boardName}"></td>
								<td th:text="*{boardDate}"></td>
							</tr>
					</tbody>
				</table>
			</div>
			
			<div class="text-end">
				<button type="button" id="insertFormBtn" class="btn btn-primary btn-sm mb-2">글쓰기</button>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="script">
		<script src="/js/boardList.js"></script>	
	</th:block>