.App {
  margin : 0 auto;
  width : 800px;
  text-align : center;
  border : 1px solid black;
}

table {
  margin : 0 auto;
  width : 800px;
  text-align : center;
}

.margin-left {
  margin-left : 15px;
}

